<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="Connection" value="Data Source=srv-bt00-azr\monitor;Initial Catalog=isc_tracking;Integrated Security=True;Connection Timeout=30;"/>
    <add key="ConnectionBizSQL" value="Data Source=srv-bt00-azr;Initial Catalog=BizTalkDTADb;Integrated Security=True;Connection Timeout=30;"/>
    <add key="PipelineAssemblyLocation" value=""/>
    <add key="PipelineAssemblyName" value="Microsoft.BizTalk.StreamProcessing.dll"/>
    <add key="CompressionStreamsTypeName" value="Microsoft.BizTalk.Message.Interop.CompressionStreams"/>

  </appSettings>
</configuration>