<?xml version="1.0"?>
<configuration>

  <!-- !!! DO NOT MOVE SECTION !!! Must be first element in config file -->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="appSchedules" type="inSyca.foundation.framework.configuration.AppSchedules, inSyca.fd.fr, Version=1.0.4.0, Culture=neutral, PublicKeyToken=604954d691f5a615"/>
  </configSections>

  <log4net>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <logName value="Application"/>
      <ApplicationName value="inSyca.foundation.communication.wsh"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="Timestamp: %utcdate%newlineMessage: %newline%message" />
        <!-- More info in message
        <conversionPattern value="Timestamp: %utcdate%newlineUser: %username%newlineType: %type{1}%newlineMethod: %method%newlineMessage: %newline%message%newline%Exception: %newline%exception"/>
        -->
      </layout>
    </appender>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="support@insyca.com" />
      <from value="support@insyca.com" />
      <subject value="inSyca.foundation.communication.wsh" />
      <authentication value="Basic" />
      <smtpHost value="smtp.live.com" />
      <port value="25" />
      <username value="username" />
      <password value="secret" />
      <EnableSsl value="true"/>
      <bufferSize value="1" />
      <lossy value="true" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="Timestamp: %utcdate%newlineMessage: %newline%message" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="EventLogAppender" />
      <!--<appender-ref ref="SmtpAppender" />-->
    </root>
  </log4net>
  
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Information,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add type="System.Diagnostics.EventLogTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="EventLogListener" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <system.serviceModel>

    <diagnostics>
      <messageLogging logEntireMessage="true" logKnownPii="true" logMalformedMessages="true"
        logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
      <endToEndTracing propagateActivity="true" activityTracing="true"
        messageFlowTracing="true" />
    </diagnostics>

    <bindings>
      <netTcpBinding>
        <clear />
        <binding name="unsecureTcpCfg" receiveTimeout="01:00:00" maxReceivedMessageSize="65536000">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
        <binding name="mexTcpCfg" receiveTimeout="01:00:00" maxReceivedMessageSize="65536000">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="MessageBrokerEndpointBehavior">
          <BizTalkMessageBehavior/>
          <BizTalkParameterBehavior/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="MessageBrokerBehavior">
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <extensions>
      <behaviorExtensions>
        <add name="BizTalkMessageBehavior" type="inSyca.foundation.communication.wcf.BizTalkMessageBehaviorExtensionElement, inSyca.fd.co.wcf, Version=1.0.4.0, Culture=neutral, PublicKeyToken=604954d691f5a615" />
        <add name="BizTalkParameterBehavior" type="inSyca.foundation.communication.wcf.BizTalkParameterBehaviorExtensionElement, inSyca.fd.co.wcf, Version=1.0.4.0, Culture=neutral, PublicKeyToken=604954d691f5a615" />
      </behaviorExtensions>
    </extensions>
  
    <client>
      <endpoint address="net.tcp://localhost/insyca.suite/SendToMsgBox.svc"
                binding="netTcpBinding"
                bindingConfiguration="unsecureTcpCfg"
                contract="inSyca.foundation.communication.itf.IBizTalkClient">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>

    <services>
      <service behaviorConfiguration="MessageBrokerBehavior" name="inSyca.messagebroker.root.ns.svc.MessageBrokerService">
        <endpoint address="net.tcp://localhost:8878/IMessageBroker"
                  binding="netTcpBinding"
                  contract="inSyca.foundation.communication.itf.IMessageBroker"
                  behaviorConfiguration="MessageBrokerEndpointBehavior"
                  bindingNamespace="inSyca.mb.svc"
                  bindingConfiguration="unsecureTcpCfg"
                  name="MessageBrokerTcp"/>
        <endpoint address="net.tcp://localhost:8878/IMessageBroker/mex"
                  binding="netTcpBinding"
                  contract="IMetadataExchange"
                  bindingConfiguration="mexTcpCfg" />
      </service>
    </services>
  </system.serviceModel>

</configuration>
