<?xml version="1.0"?>
<configuration>

  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="unsecureHttpCfg" maxReceivedMessageSize="65536000" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None">
          </security>
        </binding>
        <binding name="mexHttpCfg" maxReceivedMessageSize="65536000" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None">
          </security>
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="unsecureTcpCfg" maxReceivedMessageSize="65536000" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None">
          </security>
        </binding>
        <binding name="mexTcpCfg" maxReceivedMessageSize="65536000" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None">
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="MessageBrokerEndpointBehavior">
          <BizTalkMessageBehavior/>
          <BizTalkParameterBehavior/>
        </behavior>
        <behavior name="BizTalkEndpointBehavior">
          <BizTalkMessageBehavior/>
          <BizTalkParameterBehavior/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="MessageBrokerBehavior">
          <serviceMetadata/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <extensions>
      <behaviorExtensions>
        <add name="BizTalkMessageBehavior" type="inSyca.foundation.communication.wcf.BizTalkMessageBehaviorExtensionElement, inSyca.fd.co.wcf, Version=1.0.4.0, Culture=neutral, PublicKeyToken=604954d691f5a615"/>
        <add name="BizTalkParameterBehavior" type="inSyca.foundation.communication.wcf.BizTalkParameterBehaviorExtensionElement, inSyca.fd.co.wcf, Version=1.0.4.0, Culture=neutral, PublicKeyToken=604954d691f5a615"/>
      </behaviorExtensions>
    </extensions>

    <services>
      <service behaviorConfiguration="MessageBrokerBehavior" name="inSyca.foundation.communication.service.MessageBrokerService">
        <endpoint address="net.tcp://localhost:8820/IMessageBroker" binding="netTcpBinding" behaviorConfiguration="MessageBrokerEndpointBehavior" contract="inSyca.foundation.communication.itf.IMessageBroker" bindingConfiguration="unsecureTcpCfg" name="MessageBrokerTcp"/>
        <endpoint address="net.tcp://localhost:8820/IMessageBroker/mex" binding="netTcpBinding" contract="IMetadataExchange" bindingConfiguration="mexTcpCfg"/>
      </service>
    </services>
    <client>
      <endpoint address="net.tcp://localhost/insyca.suite/SendToMsgBox.svc" binding="netTcpBinding" bindingConfiguration="unsecureTcpCfg" contract="inSyca.foundation.communication.itf.IBizTalkClient">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
