<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <connectionStrings>
    <clear />
    <add name="DefaultConnection" connectionString="Server=sqlbiz-prd01.papp-logistik.de\TRACKING_2016;Initial Catalog=isc_tracking;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="unsecureHttpCfg" maxReceivedMessageSize="65536000" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
          </security>
        </binding>
        <binding name="mexHttpCfg" maxReceivedMessageSize="65536000" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
          </security>
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="unsecureTcpCfg" maxReceivedMessageSize="65536000" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
          </security>
        </binding>
        <binding name="mexTcpCfg" maxReceivedMessageSize="65536000" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="MessageBrokerEndpointBehavior">
          <BizTalkMessageBehavior />
          <BizTalkParameterBehavior />
        </behavior>
        <behavior name="BizTalkEndpointBehavior">
          <BizTalkMessageBehavior />
          <BizTalkParameterBehavior />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="MessageBrokerBehavior">
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="TrackingMonitorBehavior">
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <extensions>
      <behaviorExtensions>
        <add name="BizTalkMessageBehavior" type="inSyca.foundation.communication.wcf.BizTalkMessageBehaviorExtensionElement, inSyca.fd.co.wcf, Version=1.0.4.0, Culture=neutral, PublicKeyToken=604954d691f5a615" />
        <add name="BizTalkParameterBehavior" type="inSyca.foundation.communication.wcf.BizTalkParameterBehaviorExtensionElement, inSyca.fd.co.wcf, Version=1.0.4.0, Culture=neutral, PublicKeyToken=604954d691f5a615" />
      </behaviorExtensions>
    </extensions>

    <services>
      <service behaviorConfiguration="MessageBrokerBehavior" name="inSyca.foundation.communication.service.MessageBrokerService">
        <endpoint address="net.tcp://localhost:8820/IMessageBroker" binding="netTcpBinding" behaviorConfiguration="MessageBrokerEndpointBehavior" contract="inSyca.foundation.communication.itf.IMessageBroker" bindingConfiguration="unsecureTcpCfg" name="MessageBrokerTcp" />
        <endpoint address="net.tcp://localhost:8820/IMessageBroker/mex" binding="netTcpBinding" contract="IMetadataExchange" bindingConfiguration="mexTcpCfg" />
      </service>
      <service behaviorConfiguration="TrackingMonitorBehavior" name="inSyca.foundation.integration.service.TrackingMonitorService">
        <endpoint address="net.tcp://localhost:8820/TrackingMonitor" binding="netTcpBinding" contract="inSyca.foundation.integration.itf.ITrackingMonitor" bindingConfiguration="unsecureTcpCfg" name="MessageBrokerTcp" />
        <endpoint address="net.tcp://localhost:8820/TrackingMonitor/mex" binding="netTcpBinding" contract="IMetadataExchange" bindingConfiguration="mexTcpCfg" />
      </service>
    </services>
    <client>
      <endpoint address="net.tcp://localhost/insyca.suite/SendToMsgBox.svc" binding="netTcpBinding" bindingConfiguration="unsecureTcpCfg" contract="inSyca.foundation.communication.itf.IBizTalkClient">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="BizUnit" publicKeyToken="8ab3cc29608bfce0" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="BizUnit.TestSteps" publicKeyToken="8ab3cc29608bfce0" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
